/*LIGHT THEME*/
/*.light-theme{}*/
body {
  margin: 0;
  font-family: Arial;
  background: #f4f4f4;
}

nav {
  background: #222;
  padding: 15px;
  display: flex;
  gap: 20px;
}

nav a {
  color: white;
  text-decoration: none;
}

.page {
  padding: 20px;
}

input {
  padding: 10px;
  margin-right: 10px;
}

button {
  padding: 10px;
  cursor: pointer;
}

li {
  margin: 10px 0;
  background: lightblue;
  text-align: right;
  text-decoration: double;
}

/*DARK THEME*/
/*.dark-theme{}*/
