/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: lightblue;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Main Container */
.container {
  width: 100%;
  max-width: 520px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  padding: 25px;
  border-radius: 16px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
  color: white;
}

/* Title */
h1 {
  text-align: center;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

/* Balance */
h2 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 500;
}

/* Form */
form {
  margin-bottom: 20px;
}

/* Inputs */
input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 14px;
}

/* Button */
button {
  width: 100%;
  padding: 10px;
  background: orange;
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover {
  background: #00b894;
  transform: scale(1.03);
}

/* Transaction List */
ul {
  list-style: none;
  margin-top: 15px;
}

/* Each Item */
li {
  background: lightgoldenrodyellow;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
}

/* Hover Effect */
li:hover {
  transform: translateY(-3px);
  background: rgba(255, 255, 255, 0.3);
}

/* Amount Colors */
li span {
  font-weight: bold;
}

li .income {
  color: green;
}

li .expense {
  color: #ff6b6b;
}

/* Delete Button */
li button {
  width: auto;
  padding: 5px 8px;
  /* background: #ff4d4d; */
  border-radius: 6px;
  font-size: 12px;
}

li button:hover {
  background: #e84141;
}

/* Responsive */
@media (max-width: 600px) {
  .container {
    margin: 10px;
    padding: 20px;
  }
}