body {
    background-color: lightgray;
}

div {
    border: 2px solid black;
    padding: 20px;
    margin: 20px;
}
h2{
    background-color: lightgreen;
}
h3{
    background-color: lightcoral;
}
h4{
    background-color: royalblue;
}